<ion-menu side="end" menuId="first" class="user-side-menu"  dir="rtl">
  <ion-header >
    <ion-toolbar color="primary">
      <ion-title>תפריט</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>בית</ion-item>
      <ion-item>התראות</ion-item>
      <ion-item>היסטוריה</ion-item>
      <ion-item>הגדרות</ion-item>
      <ion-item>מצב משמרת</ion-item>
      <ion-item>ניהול עובדים</ion-item>
      <ion-item>סטטסיסטיקות</ion-item>
      <ion-item (click)="logOut()">התנתק</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>