.input-style {
  text-align: right;
}

.login-button-style{
  text-align: center;
  margin-top: 15%
}

.register{
  text-align: center;
}

.register-link{
  cursor: pointer;
}

.other-login-options{
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 18%;
}

.icons-wrap{
  text-align: right;
  font-size: 1.4em;
}

.icon{
  cursor: pointer;
}