<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="loginUser(validations_form.value)">

    <ion-item>
      <ion-label  class="input-style" position="floating" color="primary">שם משתמש</ion-label>
      <ion-input  type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message input-style" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label  class="input-style" position="floating" color="primary">סיסמא</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors input-style">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="login-button-style">
      <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">התחבר</ion-button>
    </div>

    <label class="error-message">{{errorMessage}}</label>
  </form>
  <p class="go-to-register register">
    אין לך משתמש?  <a class="register-link" (click)="goToRegisterPage()">הירשם</a>
  </p>

  <p class="other-login-options">
    אפשרויות התחברות נוספות
  </p>

  <div class="icons-wrap">
    <ion-icon (click)="googleLogin()" class="icon" name="logo-google"></ion-icon>
  </div>

</ion-content>