<ion-toolbar color="primary">
  <ion-title class="title">{{userEmail}}</ion-title>
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon slot="icon-only" name="contact"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="openMenu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<app-user-side-menu #userSideMenu></app-user-side-menu>